body {
    font-family: Arial, sans-serif;
    background-color: #c498ff14;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Center the HR element and make it shorter */
.styled-hr {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #6c18c0;
}

header {
    display: flex;
    justify-content: center;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #8000ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6c18c0;
}

.tab {
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

.tab button {
    background-color: #8000ff;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    /* margin: 2px 5px; */
    border-radius: 5px;
}

.tab button.active {
    background-color: #6c18c0;
}

.tabcontent {
    display: none;
    padding: 20px;
    margin-top: 20px;
}

.tabcontent.active {
    display: block;
}